.gallery-container{
	margin: 20px;
}

.gallery-item{
	margin:20px; 
	height:400px; 
	width:350px; 
	float:left;
}

.gimg{
	max-width:350px; 
	border: 3px solid grey; 
	border-radius:5px; 
	padding:0px;
}

.gitem-footer{
	padding: 10px;
}

.gitem-btn-group{
	margin-top:10px;
}