<!DOCTYPE html>
<html>
	<head>
		<title>My frist practice</title>
		<link rel="stylesheet" href="example01.css"> 
	</head>
	<body>
	
	<form action="https://www.google.com/" method="get">
	    <h1>Log In</h1>
	    <h2>Please input your Email and Password</h2>
	    <label>Email: </label>
	    <input type="text" name="email" value="Email here"><br><br>
	    <label>Password:</label>
	    <input type="text" name="Password">
	    <input type="checkbox" name="check"><br><br>
	    <input type="submit">
	    <button type="button">Click Me!</button> 	    
	</form>    
	
		<h1>This is inside body</h1>
		<h2>This is inside body</h2>
		<h3>This is inside body</h3>
		<h4>This is inside body</h4>
		<h5>This is inside body</h5>
		<h6>This is inside body</h6>
		<div>
			<img src="https://picsum.photos/600/200">
		</div>
		<div style="text-align: right; height:50px;">
			<img src="https://picsum.photos/600/200">
		</div>
	</body>
	
	<footer>
		<p>This is inside footer first line. <br> This is second line.</p>
		<p>This is another paragraph.</p>
	</footer>
</html>